@use '../../../styles/globals';

.linksConnection {
  display: flex;
  text-decoration: none;

  &__img {
    width: 40px;
    height: 40px;
  }

  &__text {
    text-decoration: none;
    color: globals.$white-txt;

    @include globals.text-text-xs;

    @media (width <= 600px) {
      text-decoration: underline;

      @include globals.mobile-m;
    }
  }

  &__textLogo {
    text-decoration: none;
    color: globals.$white-txt;

    @include globals.text-text-m;

    @media (width <= 600px) {
      text-decoration: underline;

      @include globals.mobile-m;
    }
  }
}
