@import '../../../styles/globals';

.popup {
  padding-top: 32px;
  margin-left: -34px;
  width: 768px;
  background-color: $black-bg;
  position: absolute;
  inset: 0;
  height: 100vh;
  z-index: 9999;
  transform: translateX(100%);
  animation: slidein 1s forwards;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (width < 768px) {
    width: 360px;
    margin-left: -20px;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .popup-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      .popup-logo-text {
        @include mobile-h1;

        text-decoration: none;
        color: $white-txt;
      }
    }

    .popup-button {
      background-image: url('../../../vendor/images/ClosePopUpImg.svg');
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      margin-right: 8px;
      border: none;
      cursor: pointer;
    }
  }
}

.popup-langbutton {
  display: flex;
  justify-content: start;
  text-align: center;
  gap: 12px;
  padding: 0 20px;

  .lang-section-link {
    @include text-text-m;

    color: $white-txt;
    padding: 4px 0;
    text-decoration: none;
  }
}

.popup-navigation {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-left: 20px;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
