@use '../../../styles/globals' as globals;

.shimmer-text-set {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 2px solid;
  border-image-source: linear-gradient(90deg, globals.$black-bg -2.44%, globals.$grey-border 50%, globals.$black-bg 102.44%);
  z-index: 5;

  @keyframes shimmer {
    0% {
      background-position: -100%;
    }

    100% {
      background-position: 200%;
    }
  }

  .shimmer-text {
    padding: 76px 0 92px 12%;
    height: auto;
    background: linear-gradient(90deg, globals.$white-txt, globals.$main-blue, globals.$white-txt);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    animation: shimmer 2s linear infinite;
    z-index: 2;

    @include globals.desktop-xl;

    @media (width <= 768px) {
      width: 100%;
      margin-left: 0;
      padding: 39px 0 60px 12%;

      @include globals.mobile-xl;
    }

    @media (width <= 360px) {
      padding: 0;
    }

    .shimmer-span {
      background: linear-gradient(90deg, globals.$main-blue, #af4261, globals.$main-blue);
      background-size: 200% auto;
      background-clip: text;
      animation: shimmer 2s linear infinite;
    }
  }
}
