@use '../../../styles/globals';

.shimmer {
  display: flex;
  position: relative;
  padding: 0;
  z-index: 5;

  &__text {
    padding: 87px 0 92px 130px;
    background-size: 200% auto;
    color: globals.$white-txt;
    background-clip: text;
    z-index: 2;

    @include globals.desktop-xl;

    @media (width <= 1024px) {
      width: 100%;
      margin-left: 0;
      padding: 33px 0 0 39px;

      @include globals.mobile-xl;
    }

    @media (width <= 760px) {
      padding: 0;
    }

    &_span {
      color: globals.$main-blue;
      background-size: 200% auto;
      background-clip: text;
    }
  }
}
