@use '../../../styles/globals';

.shimmerTextSet {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 5;
  transform: translateX(-5%);
  opacity: 0;
  transition:
    opacity 15s,
    transform 9s;

  .shimmerText {
    padding: 76px 0 92px 12%;
    height: auto;
    background-size: 200% auto;
    color: globals.$white-txt;
    background-clip: text;
    z-index: 2;

    @include globals.desktop-xl;

    @media (width <= 768px) {
      width: 100%;
      margin-left: 0;
      padding: 39px 0 60px 12%;

      @include globals.mobile-xl;
    }

    @media (width <= 360px) {
      padding: 0;
    }

    .shimmerSpan {
      color: globals.$main-blue;
      background-size: 200% auto;
      background-clip: text;
      animation: shimmer 5s ease-out infinite;
    }
  }
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 15s ease-out,
    transform 13s ease-out;
}

.hidden {
  opacity: 0;
  transform: translateX(-10px);
  transition:
    opacity 5s ease-out,
    transform 3s ease-out;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}
