@use '../../styles/globals';

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: globals.$white-txt;

  &__title {
    width: 100%;
    margin-bottom: 100px;

    @include globals.text-h2;

    @media (width <= 1024px) {
      margin-bottom: 40px;

      @include globals.mobile-h2;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 20px;

    @media (width <= 1024px) {
      flex-flow: column nowrap;
      gap: 14px;
    }
  }
}
