*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
}

body {
  font-family: Manrope, sans-serif;
}

// Переменные всех цветов
$black-bg: #080808;
$dark-grey-border: #212121;
$disabled-grey-txt: #4a4a4a;
$disabled-grey-bg: #717171;
$grey-border: #a5a7a7;
$light-grey-border: #f5f5f5;
$white-bg: #fafafa;
$white-txt: #f7f7f7;
$main-blue: #00b1b8;
$hover-blue: #008085;
$primary-gradient: linear-gradient(to bottom right, #00b1b833 0%, #f5f5f5cc 50%, #00b1b833 0%);
$final-gradient: linear-gradient(90deg, #080808 0%, #878787 35%, #878787 69%, #080808 100%);
$mobile-final-gradient: linear-gradient(180deg, #878787 0%, #080808 30%, #080808 80%, #878787 120%);
$custom-content-hover: radial-gradient(ellipse closest-side at center, rgb(15 155 173 / 30.2%) 0%, rgb(8 8 8) 105%);
$circle-gradient: radial-gradient(circle, rgb(245 245 245 / 100%) 0%, rgb(245 245 245 / 100%) 20%, rgb(0 177 184 / 50%) 70%);
$sceleton-gradient: linear-gradient(135deg, #080808 0%, #878787 50%, #080808 100%);

// Текст для Desktop
@mixin text-text-m {
  & {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
  }
}

@mixin text-label {
  & {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
  }
}

@mixin desktop-h1 {
  & {
    font-size: 120px;
    font-weight: 400;
    line-height: 1;
  }
}

@mixin desktop-xl {
  & {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.4;
  }
}

@mixin text-h2 {
  & {
    font-size: 80px;
    font-weight: 300;
    line-height: 1.2;
  }
}

@mixin text-subheader-s {
  & {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
  }
}

@mixin text-subheader-m {
  & {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.4;
  }
}

@mixin text-big-comment {
  & {
    font-size: 110px;
    font-weight: 400;
    line-height: 1.1;
  }
}

@mixin text-subheader-l {
  & {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
  }
}

@mixin text-text-xs {
  & {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
}

// Текст для Tablet/Mobile
@mixin mobile-h1 {
  & {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
  }
}

@mixin mobile-h2 {
  & {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
  }
}

@mixin mobile-m {
  & {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
}

@mixin mobile-xl {
  & {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
  }
}
