@use '../../styles/globals.scss' as globals;

.widget {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 118px 0;

  .grid-background {
    position: absolute;
    margin-left: -34px;
    width: calc(100% + 68px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 42px 320px 38px;
    grid-auto-rows: 1fr;
    z-index: 2;

    @media (width <= 320px) {
      display: none;
    }

    @media (width <= 768px) {
      grid-template-columns: 34px 1fr 1fr 34px;
    }

    .grid-item {
      border-right: 2px solid globals.$dark-grey-border;
      border-bottom: 2px solid globals.$dark-grey-border;
      width: 100%;
      position: relative;
    }

    .grid-item:nth-child(4),
    .grid-item:nth-child(8),
    .grid-item:nth-child(12) {
      border-right: none;
    }

    .grid-item:nth-child(9),
    .grid-item:nth-child(10),
    .grid-item:nth-child(11),
    .grid-item:nth-child(12) {
      border-bottom: none;
    }
  }

  @media (width <= 768px) {
    gap: 80px;
    padding: 80px 0;
  }

  .widget-text-container {
    display: flex;
    flex-direction: row;
    z-index: 2;
    margin: 42px 0 0 25%;
    padding: 0;

    .widget-circle-container {
      display: flex;

      @media (width <= 768px) {
        width: 22px;
      }

      @media (width <= 320px) {
        display: none;
      }
    }

    @media (width <= 1024px) {
      margin: 42px 0 0;
    }
  }

  .widget-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
