@use '../../../styles/globals';

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: globals.$white-txt;
  width: 40%;

  .listItem {
    display: flex;
    flex-direction: column;
    counter-increment: list-counter;
    padding: 0.5rem 0;

    &:first-child {
      padding-top: 0;
    }

    &::before {
      content: '0' counter(list-counter);
      color: globals.$light-grey-border;
      position: relative;
      z-index: 2;

      @include globals.text-subheader-s;

      @media (width <= 1024px) {
        & {
          font-size: 24px;
          font-weight: 500;
          line-height: 33.6px;
        }
      }
    }

    &__gradient {
      margin-top: 16px;
    }

    @include globals.text-text-m;

    @media (width <= 1024px) {
      & {
        @include globals.mobile-m;
      }
    }
  }

  @media (width <= 1024px) {
    .listItem:nth-child(5) .listItem__gradient {
      display: none;
    }
  }

  @media (width <= 1024px) {
    width: 100%;
  }
}
