@use '../../styles/globals';

.footer {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'gradient gradient gradient gradient'
    'logoText logoText descriptionText descriptionText'
    'logoTitle logoTitle socialBox socialBox'
    'address address address address';
  grid-auto-columns: minmax(auto, 1fr);
  margin-bottom: 20px;
  width: 100%;
  color: globals.$white-txt;

  &__gradient {
    grid-area: gradient;
    padding-bottom: 40px;

    @media (width <= 760px) {
      padding-bottom: 20px;
    }
  }

  &__logoContainer {
    display: none;
    grid-area: logoImg;

    @media (width <= 760px) {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  &__logoSet {
    grid-area: logoText;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: auto;
  }

  &__logoTitle {
    margin: 20px 0 0;
    padding: 0;
    grid-area: logoTitle;
    white-space: nowrap;

    @include globals.desktop-h1;

    @media (width <= 1024px) {
      font-size: 64px;
    }

    @media (width <= 760px) {
      margin: 0;

      @include globals.mobile-h1;
    }
  }

  &__descriptionText {
    padding-left: 10px;
    text-align: end;
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
    grid-area: descriptionText;

    @media (width <= 1024px) {
      @include globals.text-text-m;
    }

    @media (width <= 760px) {
      text-align: start;
      padding-left: 0;

      @include globals.mobile-m;
    }
  }

  &__socialBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    gap: 20px;
    grid-area: socialBox;

    @media (width <= 760px) {
      justify-content: flex-start;
    }
  }

  &__addressSet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    grid-area: address;
    padding-top: 40px;

    &_address {
      @include globals.text-text-xs;

      @media (width <= 760px) {
        color: globals.$grey-border;

        @include globals.mobile-m;
      }
    }

    @media (width <= 1024px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-top: 28px;
    }

    @media (width <= 760px) {
      padding-top: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media (width <= 1024px) {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'gradient gradient gradient gradient'
      'logoText descriptionText descriptionText descriptionText'
      'logoTitle logoTitle logoTitle logoTitle'
      'socialBox socialBox socialBox socialBox'
      'address address address address'
      'address address address address';
    grid-auto-columns: minmax(auto, 1fr);
  }

  @media (width <= 760px) {
    grid-template-areas:
      'gradient gradient'
      'logoImg logoTitle'
      'descriptionText descriptionText'
      'logoText logoText'
      'socialBox socialBox'
      'address address';
    grid-auto-columns: auto 1fr;
    gap: 20px 0;
  }
}
