@use '../../../styles/globals';

.featuresWidget {
  display: flex;
  flex-direction: column;

  &__title {
    color: globals.$white-txt;
    margin: 0 0 5rem;

    @include globals.text-h2;

    @media (width <= 1024px) {
      margin: 0 0 2.5rem;

      @include globals.mobile-h2;
    }
  }

  &__fragment {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;

    @media (width <= 1024px) {
      flex-direction: column-reverse;
      gap: 36px;
    }

    &_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;

      @media (width <= 1024px) {
        width: 100%;
      }
    }

    &_img {
      min-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
    }
  }
}
