@use '../../../styles/globals';

.lang-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 12px;

  @media (width < 1440px) {
    margin-right: 7px;
    margin-top: 3px;
  }

  .lang-section-link {
    @include globals.text-text-m;

    color: globals.$white-txt;
    padding: 4px 0;
    text-decoration: none;
  }

  .menu-button {
    margin-top: 3px;
    margin-left: 8px;
    background-image: url('../../../vendor/images/MenuImg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
  }
}
