@use '../../../styles/globals';

.navigationList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;

  &__item {
    padding: 0 4px;
    list-style: none;

    &_link {
      color: globals.$white-bg;
      text-decoration: none;
      cursor: pointer;

      @include globals.text-text-m;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }

      &:active {
        color: globals.$main-blue;
      }

      &_active {
        color: globals.$main-blue;
      }

      @media (width <= 1024px) {
        @include globals.mobile-m;
      }
    }
  }
}
