@import '../../../styles/globals';

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;

  .navigation-list-item {
    padding: 0 4px;
    list-style: none;

    .navigation-list-item-link {
      @include text-text-m;

      color: $white-txt;
      text-decoration: none;
    }
  }
}
