@use '../../styles/globals';

.metrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: globals.$white-txt;
  margin-bottom: 24px;

  &__title {
    width: 100%;
    margin-bottom: 100px;

    @include globals.text-h2;

    @media (width <= 1024px) {
      margin-bottom: 40px;

      @include globals.mobile-h2;
    }
  }

  &__details {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;

    & > :nth-child(1),
    & > :nth-child(2) {
      border-right: 1px solid globals.$grey-border;
    }

    @media (width <= 1024px) {
      width: 100%;
      justify-content: space-between;
    }

    @media (width <= 760px) {
      width: 100%;
      flex-direction: column;

      & > :nth-child(1),
      & > :nth-child(2) {
        border-right: none;
        border-bottom: 1px solid globals.$grey-border;
      }

      & > :nth-child(1) {
        padding-top: 0;
      }

      & > :nth-child(3) {
        padding-bottom: 0;
      }
    }
  }
}
