@use '../../../styles/globals';

.headerButton {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 12px;

  &__separator {
    width: 0.5px;
    height: auto;
    margin: 5px 0;
    background-color: globals.$light-grey-border;
  }

  &__lang {
    color: globals.$white-txt;
    padding: 4px 0;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;

    @include globals.text-text-m;

    &_active {
      border-bottom: 1px solid globals.$white-bg;
      color: globals.$main-blue;
    }
  }

  &__menu {
    margin: 6px 6px 6px 10px;
    background-image: url('../../../vendor/images/MenuImg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
  }
}
